In [1]:
import pandas as pd
tempData = pd.read_csv("./TempCountrywise.csv")
tempData.columns = ["indexbad", "avgTemp", "Country Name", "year"]
tempData = tempData[tempData.year>=1990]
tempData["year"] = tempData["year"].map(int)
tempData.head()

    indexbad    avgTemp Country Name  year
40      4324  14.336636  Afghanistan  1990
41      4325  13.755273  Afghanistan  1991
42      4326  13.536000  Afghanistan  1992
43      4327  13.780818  Afghanistan  1993
44      4328  14.431182  Afghanistan  1994

In [2]:
popData = pd.read_csv("./PopulationDataCleaned.csv");
countries = list(set(popData["Country Name"]))
years = [year for year in range(1990, 2013)]

popTrans = pd.DataFrame()
for country in countries:
    for year in years:
        val = popData.loc[(popData["Country Name"]==country)][str(year)].values[0]
        popTrans = popTrans.append({'year': year, 'Country Name': country, 'Population': val}, ignore_index=True)
        
popTrans["year"] = popTrans["year"].map(int)
popTrans.head()

  Country Name  Population  year
0       Belize    187552.0  1990
1       Belize    191126.0  1991
2       Belize    194317.0  1992
3       Belize    197616.0  1993
4       Belize    201674.0  1994

In [3]:
mergedData = tempData.merge(popTrans, on=["Country Name", "year"], how='inner', sort=True)
mergedData.head()

   indexbad    avgTemp Country Name  year  Population
0      4324  14.336636  Afghanistan  1990  12249114.0
1      4325  13.755273  Afghanistan  1991  12993657.0
2      4326  13.536000  Afghanistan  1992  13981231.0
3      4327  13.780818  Afghanistan  1993  15095099.0
4      4328  14.431182  Afghanistan  1994  16172719.0

In [4]:
mergedData['avgTemp'].corr(mergedData['Population'])

-0.06769782823563308